header {
    padding: 15px;
    color: white;
    padding: 5px;
    border-radius: 6px;
    width: 669px;
    margin-top: 25px;
}

header ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;

}

header ul div {
    background-color: rgb(37, 37, 75);
    border-top: 2px solid rgb(87, 87, 146);
    overflow: hidden;
    margin: 2px;
    padding: 8px;
    border-radius: 5px;
}

header ul li {
    padding: 0px 15px;
    cursor: pointer;
    transition: all .16s ease-out;
    position: relative;
    color: rgb(92, 92, 142);
}

header ul li::after {
    content: attr(data-text);
    position: absolute;
    top: 130%;
    left: 15px;
    font-weight: bold;
    color: white;
    transition: transform 0.3s ease;
}


header ul div:hover li {
    transform: translateY(-130%);
}

#formSearchBar {
    display: flex;
}

#formSearchBar input {
    background-color: #191937;
    color: rgb(138, 142, 187);
    height: 35px;
    border: none;
    padding-left: 15px;
    padding-right: 35px;
    width: 261px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-limiter {
    width: 100px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

input:focus {
    outline: none;
}

#formSearchBar .glass {
    background-color: #191937;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 9px;
    right: 11px;
}

.magicStorage {
    margin-left: 15px;
    cursor: pointer;
    cursor: pointer;
    background-color: #4567b7;
    border: none;
    padding: 10px;
    border-radius: 3px;
    color: white;
}

.formInputContainer {
    position: relative;
}